* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

html {
    min-width: 100px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Georgia, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #333;
    /*background-color: #eee0c5;*/
    background-image: url("background.jpg");
}

.header, .content-wrapper, .container, .content, .footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

.header {
    height: auto;
    background: #9B7C40;
    color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.header-text {
    font-size: 30px;
    margin: 0;
    padding: 10px 10px 10px 30px;
}

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    min-width: 100px;
    max-width: 3000px;
    /*min-height: 100px;*/
}

.container {
    flex-wrap: nowrap;
}

.content {
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    order: 0;

    align-items: center;

    margin-bottom: 10px;
}

.form {
    padding: 5px;
    /*background: rgb(219, 210, 195);*/
    background: #eee0c5;
}

.form-group{
    padding: 5px;
}

.form-text, .form-button, .form-input, .form-input-invalid {
    font-family: Georgia, sans-serif;
    font-size: 1em;
}

.form-button {
    background: rgba(219, 210, 195, 0.7);
    margin-top: 5px;
}

.form-input, .form-input-invalid {
    background: #eee0c5;
}

.form-input-invalid {
    border-color: red;
}
.form-input-invalid::-webkit-input-placeholder {
    color: red;
}
.form-input-invalid::-moz-placeholder {
    color: red;
}

a {
    color: #9B7C40;
    padding: 2px;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    background: #9B7C40;
}

table {
    border-collapse: collapse;
    line-height: 1.1;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background: rgba(219, 210, 195, 0.7);

    width: 90%;
    margin-bottom: 50px;
    /*align-self: center;*/
}

caption {
    font-size: 2em;
    font-family: Georgia, sans-serif;
    padding: 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

/*caption:before, caption:after {*/
    /*!*content: "\274B";*!*/
    /*color: #A9E2CC;*/
    /*margin: 0 10px;*/
/*}*/

th {
    padding: 10px;
    border: 1px solid #808080;
}

td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #808080;
    text-align: center;
}

.first {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.message, .error-msg {
    font-size: 1em;
}

.error-msg {
    color: red;
}

.links-container, .msg-container {
    align-items: center;
}
